:root {
  scroll-behavior: smooth;
  --tamanholinks: 20px;
  --tamanhonomes: 20px;
  --tamanhoimg: 25vw;
  background-color: #282c3400;
}

body {
  background-image: url("./images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bigBox {
  background-color: #282c3400;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* styling NavBar */
.navBar {
  background-color: #0d1d3b;
  margin-top: 10vh;
  min-height: 60px;
  height: 9vw;
  max-height: 100px;
  width: 98vw;
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  align-items: center;
  color: white;
}
.navLink {
  padding: 10px;
  text-decoration: none;
}

#siteName {
  padding: 10px;
  color: aliceblue;
  text-decoration: none;
}
#siteName:hover {
  animation-name: animacaobtn;
  padding: 10px;
  animation-duration: 1000ms;
  animation-fill-mode: forwards;
}
@keyframes animacaobtn {
  100% {
    background-color: rgb(3, 8, 56);
  }
}

/* ....................................................... */
/* styling Homepage */
.homeimg {
  margin-top: 10vh;
  width: 95vw;
  max-width: 1200px;
}

.trabalhosImg {
  margin-top: 10px;
  background-color: rgba(0, 255, 255, 0);
  width: 95vw;
  text-align: center;
  align-self: center;
}

.categoriesBox {
  margin-top: 10px;
  background-color: rgba(255, 60, 245, 0);
  width: 95vw;
  align-self: center;
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.categories {
  background-color: rgb(240, 248, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: 17vw;
  width: var(--tamanhoimg);
}

/* ....................................................... */
/* styling pages */

.smallBoxPage {
  margin-top: 10vh;
  background-color: rgba(119, 170, 172, 0.349);
  width: 95vw;
  text-align: center;
  align-self: center;
}

.pageImg {
  width: 30vw;
}
/* ....................................................... */
/* styling footer */
#contacts {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: #282c3400;
  height: 10vh;
  padding-top: 50px;
  margin-bottom: 25px;
}

.linkscont {
  display: flex;
  text-align: center;
  flex-direction: row;

  font-size: var(--tamanholinks);
  font-weight: 600;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(0, 93, 175);
  gap: 15px;
  text-decoration: none;
  background-color: #282c3400;
}
/* ....................................................... */
/*medias*/
@media (min-width: 1200px) {
  :root {
    --tamanholinks: 30px;
    --tamanhoimg: 300px;
  }
}

@media (max-width: 700px) {
  .nav {
    justify-content: center;
    --tamanholinks: 12px;
  }

  #contacts {
    margin-bottom: 50px;
  }

  :root {
    --tamanhoimg: 35vw;
  }
}
/* ....................................................... */
/* login form */
input {
  max-width: 500px;
}

input,
button,
select,
optgroup,
textarea {
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
