:root {
  scroll-behavior: smooth;
  --tamanholinks: 20px;
  --tamanhonomes: 20px;
  background-color: #282c34;
}

/* body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(128, 39, 108);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.bigBox {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* login form */
input {
  max-width: 500px;
}

input,
button,
select,
optgroup,
textarea {
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* styling NavBar */
.NavBar {
  background-color: #0d1d3b;
  border: solid 2px black;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  min-height: 60px;
  height: 9vw;
  max-height: 120px;
  width: 98vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  align-items: center;
  color: white;
}
#siteName {
  color: aliceblue;
  text-decoration: none;
}

/* styling Homepage */

.trabalhosImg {
  margin-top: 10px;
  background-color: aqua;
  width: 95vw;
  text-align: center;
  align-self: center;
}

.categoriesBox {
  margin-top: 10px;
  background-color: aqua;
  width: 95vw;
  align-self: center;
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.categories {
  background-color: aliceblue;
}

/* ........................................ */
/* styling pages */

.smallBoxPage {
  margin-top: 10px;
  background-color: cadetblue;
  width: 95vw;
  text-align: center;
  align-self: center;
}

/* styling footer */
#contacts {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: #282c34;
  height: 10vh;
  padding-top: 50px;
}

.linkscont {
  display: flex;
  text-align: center;
  flex-direction: row;

  font-size: var(--tamanholinks);
  font-weight: 600;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(0, 93, 175);
  gap: 15px;
  text-decoration: none;
  background-color: #282c34;
}

/*Final dos contactos*/
@media (min-width: 1200px) {
  :root {
    --tamanholinks: 30px;
  }
}

@media (max-width: 700px) {
  .nav {
    justify-content: center;
    --tamanholinks: 12px;
  }

  :root {
    --tamanhoimg: 25vw;
  }
}
